@use "../globals" as *;
@use "../parts/common" as *;

.travel {
    @extend .content-width;
    @extend .mb-lg;

    &_inner {
        position: relative;
        z-index: 0;
        @extend .flex;
        justify-content: space-between;
        background: $cBgGray;
        padding: 15px;

        @include mq(md) {
            padding: 50px;
        }
        @include mq(xl) {
            padding: 50px 150px;
        }
    }
    &_img {
        height: 300px;
        @extend .mb-sm;
        box-shadow: inset 0 0 30px $cBlack;

        @include mq(md) {
            flex-basis: 47%;
        }

        @include mq(lg) {
            height: 400px;
        }

        & > img {
            position: relative;
            z-index: -1;
            opacity: 1;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    &_texts {
        @extend .pb-sm;

        @include mq(md) {
            display: flex;
            align-items: flex-end;
            flex-basis: 47%;
        }

        &.inview {
            & .travel_title::before {
                @include animation($name: scaleX, $duration: 0.3s, $delay: 1.5s)
            }
        }
    }

    &_title {
        position: relative;

        &::before {
            display: none;
            position: absolute;
            content: '';
            height: 1px;
            width: 100px;
            top: 50%;
            left: -120px;
            background-color: $cBlack;
            transform: scaleX(0);
            transform-origin: right;

            @include mq(lg) {
                display: block;
            }
        }
    }

    &_description {
        @include mq(lg) {
            margin-bottom: 40px;
        }
    }
}

@keyframes scaleX {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.houses {
    @extend .content-width;
    @extend .mb-lg;

    &_inner {
        @extend .flex;
    }

    &_title {
        @extend .mb-sm;
        @extend .font-lr;
    }

    &_item {
        @include mq(md) {
            flex-basis: 50%;
        }
        @include mq(lg) {
            margin-bottom: 60px;
        }
    }

    &_btn {
        text-align: center;
        flex-basis: 100%;
    }
}

.popular {
    &_header {
        @extend .content-width;
    }

    &_inner {
        position: relative;

        &::before {
            content: '';
            position:absolute;
            bottom: 0;
            left: 0;
            height: 90%;
            width: 100%;
            background: $cBgGray;

        }
    }

    &_container {
        position: relative;
        z-index: 2;
        @extend .content-width;
        @extend .flex;
        justify-content: space-between;
    }

    &_item {
        @include mq(md) {
            flex-basis: 47%;
        }
        @include mq(lg) {
            flex-basis: 25%;
        }
        @include mq(xl) {
            flex-basis: 23%;
        }
    }

    &_title {
        @extend .mb-sm;
        @extend .font-md;
    }

    &_img {
        height: 150px;
        margin-bottom: 5px;
        
        @include mq(lg) {
            height: 335px;
        }
        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_btn {
        text-align: center;
        flex-basis: 100%;
        @extend .mb-lg;
    }
}